{%- assign key = page.site_key -%}
{%- if key == nil or key == "" -%}
  {%- assign urlparts = page.url | split:'/' -%}
  {%- assign firstseg = urlparts[1] -%}
  {%- if firstseg and firstseg != "" and site.data.sites[firstseg] -%}
    {%- assign key = firstseg -%}
  {%- endif -%}
  {%- if key == nil or key == "" -%}
    {%- for p in site.posts -%}
      {%- if p.url == page.url and p.calendar -%}
        {%- assign key = p.calendar -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endif -%}
{%- assign siteinfo = site.data.sites[key] -%}
{%- assign avatar = siteinfo.avatar | default: site.avatar -%}
{%- comment -%}
Determine whether the collapsed navbar has content besides the search (links, extra includes, or avatar).
If not, we'll hide the hamburger toggler on small screens and show a mobile search button instead.
{%- endcomment -%}
{%- assign has_nav_content = false -%}
{%- if site.navbar-links and site.navbar-links != empty -%}
  {%- assign has_nav_content = true -%}
{%- endif -%}
{%- if site.navbar-extra -%}
  {%- assign has_nav_content = true -%}
{%- endif -%}
{%- if avatar -%}
  {%- assign has_nav_content = true -%}
{%- endif -%}
<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom {% if page.nav-short %}top-nav-short-permanent{% else %}top-nav-regular{% endif %}">

  {%- if siteinfo and siteinfo['title-img'] -%}
    <a class="navbar-brand navbar-brand-logo" href="{{ siteinfo.baseurl | relative_url }}"><img alt="{{ siteinfo.title }} Logo" src="{{ siteinfo['title-img'] | relative_url}}"/></a>
  {%- elsif siteinfo and siteinfo.title -%}
    <a class="navbar-brand" href="{{ siteinfo.baseurl | relative_url }}">{{ siteinfo.title }}</a>
  {%- elsif site.title-img -%}
    <a class="navbar-brand navbar-brand-logo" href="{% if siteinfo and siteinfo.baseurl %}{{ siteinfo.baseurl | relative_url }}{% else %}{{ '/' | relative_url }}{% endif %}"><img alt="{{ site.title }} Logo" src="{{ site.title-img | relative_url}}"/></a>
  {%- elsif site.title -%}
    <a class="navbar-brand" href="{% if siteinfo and siteinfo.baseurl %}{{ siteinfo.baseurl | relative_url }}{% else %}{{ '/' | relative_url }}{% endif %}">{{ site.title }}</a>
  {%- endif -%}

  {%- if has_nav_content -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  {%- else -%}
    {%- if site.post_search -%}
      <a class="nav-link nav-search-trigger d-xl-none" id="nav-search-link-mobile" href="#" title="Suche">
        <span class="fa fa-search"></span>
      </a>
    {%- endif -%}
  {%- endif -%}

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
      {% unless key or page.id %}
      {%- for link in site.navbar-links -%}
        {%- if link[1].first %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link[0] }}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              {%- for childlink in link[1] -%}
                {%- for linkparts in childlink %}
                  <a class="dropdown-item" href="{{ linkparts[1] | relative_url }}">{{ linkparts[0] }}</a>
                {%- endfor -%}
              {%- endfor %}
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link[1] | relative_url }}">{{ link[0] }}</a>
          </li>
        {%- endif -%}
      {%- endfor -%}
      {% endunless %}
      {% if site.post_search %}
        <li class="nav-item">
          <a class="nav-link nav-search-trigger" id="nav-search-link" href="#" title="Suche">
            <span id="nav-search-icon" class="fa fa-search"></span>
            <span id="nav-search-text">Suche</span>
          </a>
        </li>
      {%- endif -%}
    </ul>
  </div>

  {% if site.navbar-extra %}
    {% for file in site.navbar-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}

  {% assign avatar = siteinfo.avatar | default: site.avatar %}
  {% if avatar and page.show-avatar != false %}
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a href="{% if siteinfo and siteinfo.baseurl %}{{ siteinfo.baseurl | relative_url }}{% else %}{{ '/' | relative_url }}{% endif %}">
          <img alt="Navigation bar avatar" class="avatar-img" src="{{ avatar | relative_url }}" />
        </a>
      </div>
    </div>
  {% endif %}

</nav>

{% include search.html %}
